html,
body {
  color: #fff;
  font-family: Google Sans, -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
}

.weather-app {
  max-width: 800px;
  padding: 15px;
  margin: 20px auto;
  background-image: url("/images/cloudy.svg");
  background-color: gray;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  border: 2px solid grey;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.temperature {
  font-family: Quicksand, arial, sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 56px;
}

.units {
  display: inline-block;
  padding-left: 6px;
  vertical-align: top;
  color: rgb(232, 234, 237);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.weather-icon {
  display: inline-block;
  height: auto;
  margin-top: unset;
  vertical-align: top;
  width: auto;
  margin-right: 4px;
}

.float-left {
  float: left !important;
}

#city-name {
  text-transform: capitalize;
  font-weight: 600;
  line-height: 28px;
}

.git-link {
  margin: 0 auto;
  text-align: center;
  font-family: Quicksand, arial, sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1rem;
}
.git-link a {
  color: blue;
  text-decoration: none;
}

.in-line {
  font-size: small;
  border-left: solid 1px #fff;
  vertical-align: top;
}

#search-button,
#current-button {
  font-family: Quicksand, arial, sans-serif;
}

.weather-box {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.general-view {
  margin-bottom: 10px;
}

.right-view {
  text-align: right;
}

.cu-sf,
.cu-sf:focus {
  color: #fff !important;
  border: 1px solid #dadde1;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.cu-sf::placeholder {
  color: #fff;
}
