html,
body {
  font-family: "Google Sans", sans-serif;
  margin: 0;
}

.weather-app {
  max-width: 800px;
  padding: 15px;
  margin: 20px auto;
  border-radius: 16px;
  border: 1px solid #dadde1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.day {
  background: linear-gradient(to bottom, #51b7fb, #a9d1f8 80%);
  color: rgba(0, 4, 40, 0.9);
}

.night {
  background: linear-gradient(to bottom, #000428, #004e92 60%);
  color: rgba(233, 233, 237, 0.9);
}

.temperature {
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 56px;
  vertical-align: top;
}

.date,
.description {
  opacity: 0.8;
}

.units {
  display: inline-block;
  opacity: 0.5;
  position: relative;
  top: 4px;
}
.active {
  opacity: 1;
}

.float-left {
  float: left !important;
}

.weather-icon {
  height: 70px;
  position: relative;
  margin-left: -10px;
  top: -3px;
}

#city-name {
  text-transform: capitalize;
  font-weight: 600;
  line-height: 28px;
}

.git-link {
  margin: 0 auto;
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1rem;
}
.git-link a {
  color: goldenrod;
  text-decoration: none;
  font-weight: 500;
}

.in-line {
  position: relative;
  font-size: small;
  border-left: solid 1px rgba(128, 128, 128, 0.549);
  top: 2px;
}

#search-button {
  font-family: "Quicksand", sans-serif;
}

.weather-box {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.general-view {
  margin-bottom: 10px;
}

.right-view {
  text-align: right;
  width: 50%;
}

.left-view {
  display: inline-block;
  width: 50%;
}

.cu-sf,
.cu-sf:focus {
  border: 1px solid #dadde1;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.cu-sf::placeholder {
  opacity: 0.7;
}

.cu-sf.txt-night::placeholder {
  color: rgb(254, 246, 235);
}

#description {
  text-transform: capitalize;
}

#city-name {
  font-weight: 400;
  font-family: "Product Sans", sans-serif;
}

#search-button {
  opacity: 0.7;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dark {
  color: #000428;
}

#search-button:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 400px) {
  .right-view {
    width: 40% !important;
  }

  .right-view ul {
    padding: 0;
    font-size: small;
  }

  .left-view {
    width: 60% !important;
    font-size: medium;
  }

  .col {
    width: 45px !important;
  }
}

@media screen and (min-width: 400px) {
  .right-view {
    width: 40% !important;
  }

  .right-view ul {
    padding: 0;
    font-size: small;
  }

  .left-view {
    width: 60% !important;
    font-size: medium;
  }
  .col {
    width: 30px !important;
  }
}

.weather-daily-forecast {
  text-align: center;
  margin: 20px 0;
}

.weather-daily-forecast-date {
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 5px;
}

.weather-daily-forecast-temperature {
  font-size: 16px;
  margin-top: 10px;
}

.temp-min {
  opacity: 0.7;
}

.col {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 20px 5px;
  width: 60px;
  margin: 0 10px;
  background: rgba(255, 255, 255, 0.08);
}

.col:hover {
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.small-icon {
  position: relative;
  margin-top: -3px;
  margin-right: -3px;
}
